<!-- Loop over each object in the projects array -->
{{#each stories as |story|}}
  <div class="row mb-4 project">
    <div class="col-md-5">
      <h2>
        <!-- Call helper function with triple brackets to render {{{emoji}}}-->
        <a href="/stories/{{story.id}}">{{story.name}}</a>
      </h2>
      {{! added image display section }}
      {{#if image}}
        <div class="image-gallery">
          <a href="/images/{{image}}" target="_blank">
            <img
              src="/images/{{image}}"
              alt="Story Image"
              class="gallery-image"
            />
          </a>
        </div>
      {{/if}}
      <p>
        <span aria-label="money">Budget: $</span>
        <!-- Pass budget value to the helper function -->
        <span class="dollar-amount">{{format_amount story.budget}}</span>
      </p>
      <p>Created by
        {{story.user.name}}
        on
        {{format_date story.date_created}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{story.blog}}
      </p>
    </div>
  </div>
{{/each}}