<div class="">
  <h2 class="text-3xl font-bold pt-10 ml-8 text-black">{{name}}</h2>
  <div class="h-1 bg-gray-300 w-55 mt-2 pl-4 ml-8"></div>

  {{#if images}}
    <div class="image-container">
      {{#each images}}
        <a href="/images/{{this}}" target="_blank">
          <img
            src="/images/{{this}}"
            alt="Story Image"
            class="gallery-image mx-auto my-auto w-1/5 h-1/5 pt-10"
          />
        </a>
      {{/each}}
    </div>
  {{/if}}

  <p
    class="text-md text-black-500 font-normal my-4 leading-loose text-center pl-10 pr-10 pt-5 pb-1"
  >{{blog}}</p>
  <p class="text-md font-light text-center pb-5">Story by
    {{user.name}}
    on
    {{format_date date_created}}</p>
</div>

<div class="comment-container">
  <div class="w-full bg-white rounded-lg border p-2 my-4 mx-6 shadow-md">

    <h3 class="font-bold">Discussion</h3>

    <form>

      <div class="w-full px-3 my-2 justify-between flex">
        <textarea
          class="bg-white rounded leading-normal resize-none w-full h-12 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white border-b-2"
          id="comment-textarea"
          name="body"
          placeholder="Comment Here"
          required
        ></textarea>

        <div class="flex justify-end px-1">
          <input
            type="submit"
            class="px-1 py-1 rounded-md text-white text-sm bg-black ml-2"
            id="comment-submit"
            value="Post Comment"
          />
        </div>
      </div>

      {{#each comments}}
        <div class="flex flex-col">

          <div class="rounded-md p-3 ml-3 my-3">
            <div class="flex gap-3 items-center">

              <img
                src="/imgs/coffee.svg"
                class="object-cover w-8 h-8"
              />

              <h3 class="font-bold">
                {{this.user.name}}
              </h3>
            </div>

            <p class="text-gray-600 mt-2">
              {{this.comments}}
            </p>
            {{#if this.user.name}}
            <button
              data-id="{{this.id}}"
              class="text-gray-400 mt-2 text-sm px-2 py-1 rounded-md delete-comments"
              id="delcomment"
            >delete</button>
            {{else}}
            <div></div>
            {{/if}}
             <div class="border-b bg-gray-300 w-25 mt-2"></div>
          </div>

        </div>
      {{/each}}

    </form>

  </div>
</div>

<link rel="stylesheet" href="/css/comments.css" />
<script src="/js/story.js"></script>