<h2 class="text-3xl font-bold pt-10 ml-8 text-black">Stories</h2>
<div class="h-1 bg-gray-300 w-55 mt-2 pl-4 ml-8"></div>
<div class="p-4 flex-col flex ml-2">

{{#each stories as |story|}}
<div class="row mb-4 project border border-gray-400 shadow-lg rounded-lg hover:scale-105 ml-2 mr-8 relative">
  <div class="bg-transparent rounded-md w-50 h-20 z-0" style="background-image: url('/imgs/placeholder.jpg');">
    <div class="col-md-5 flex justify-between">
        <h2 class="text-2xl font-semibold py-2 px-4 text-blue-800">
          <a href="/stories/{{story.id}}" class="hover:underline">{{story.name}}</a>
        </h2>
        <p class="text-sm font-semibold mr-4">
          By {{story.user.name}} on {{format_date story.date_created}}
        </p>
    </div>
    <div class="col-md-7">
        <p class="text-lg py-2 px-4 font-semibold">
          {{story.blog}}
        </p>
    </div>
  </div>
</div>
{{/each}}

</div>





<div class="mt-32">
  <section class="w-4/5 mx-auto flex justify-between items-center">
     <!-- header and arrow buttons -->
     <div class="w-1/5 mr-auto">
      <h2 class="text-3xl font-light">
        Categories
      </h2>
      <div class="h-1 bg-gray-300 w-10 mt-2"></div>
    </div>
    <div class="w-1/2">
      <p class="text-sm text-gray-500 font-normal my-4 leading-loose"></p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
      mollitia enim aliquid debitis, dolor deserunt Nihil in culpa vitae
      quibusdam qui earum cum! Similique eveniet at magnam laboriosam
      consequatur illo.
    </p>
  </div>
  <div class="flex justify-center w-1/5 ml-auto"></div>
  <div>
        <buttonclass="bg-white text-gray-500 border border-gray-400 py-4 px-4 text-xs font-semibold flex justify-center items-center mr-3"
        >
        <i data-feather="arrow-left" class="h-4"></i>
      </button>
    </div>
    <div>
      <button class="bg-blue-600 py-4 px-4 text-xs border border-blue-600 font-semibold text-white flex justify-center items-center shadow-xl">
      <i data-feather="arrow-right" class="h-4"></i>
    </button>
  </div>
</div>



  </section>
  <section class="flex justify-between slideshow px-6 mt-4">
    <!-- category card -->
    <div class="card relative">
      <img src="./assets/imgs/beach-seats.jpg" alt="" />
      <div class="absolute overlay-text w-full flex flex-col items-center">
        <p class="text-white text-xl tracking-tight">Waterfall</p>
        <p class="text-xs text-gray-500 font-semibold uppercase mt-1">
          43 Adventures
        </p>
      </div>
    </div>
  </section>
  <section class="mt-16">
        <!-- slide indicators -->
        <div class="flex mx-auto justify-center">
          <div class="h-1 w-10 bg-gray-400 mr-4"></div>
          <div class="h-1 w-10 bg-gray-400 mr-4"></div>
          <div class="h-1 w-10 bg-blue-600 mr-4"></div>
          <div class="h-1 w-10 bg-gray-400 mr-4"></div>
          <div class="h-1 w-10 bg-gray-400"></div>
        </div>
  </section>
</div>