<div class="">
  <h2 class="text-3xl font-bold pt-10 ml-8 text-indigo-500">{{name}}</h2>
  <div class="h-1 bg-gray-300 w-55 mt-2 pl-4 ml-8"></div>

  {{#if image}}
    <div class="image-gallery">
      <a href="/images/{{image}}" target="_blank">
        <img src="/images/{{image}}" alt="Story Image" class="gallery-image mx-auto my-auto w-1/3 h-1/3 pt-10" />
      </a>
    </div>
  {{/if}}

  <p class="text-md text-black-500 font-normal my-4 leading-loose text-center pl-10 pr-10 pt-5 pb-1">{{blog}}</p>
  <p class="text-md font-light text-center pb-5">Story by {{user.name}} on {{format_date date_created}}</p>
</div>

<div class="comment-container">
<div class="w-full bg-white rounded-lg border p-2 my-4 mx-6">

  <h3 class="font-bold">Discussion</h3>

  <form>
    {{#each comments}}
      <div class="flex flex-col">

        <div class="border rounded-md p-3 ml-3 my-3">
          <div class="flex gap-3 items-center">

            <img
              src="https://avatars.githubusercontent.com/u/22263436?v=4"
              class="object-cover w-8 h-8 rounded-full border-2 border-emerald-400 shadow-emerald-400"
            />

            <h3 class="font-bold">
              {{this.user.name}}
            </h3>
          </div>

          <p class="text-gray-600 mt-2">
            {{this.comments}}
          </p>
          <button
            data-id="{{this.id}}"
            class="text-red-500 mt-2 text-sm px-2 py-1 rounded-md delete-comments"
            id="delcomment"
          >delete</button>

        </div>

      </div>
    {{/each}}

    <div class="w-full px-3 my-2">
      <textarea
        class="bg-gray-100 rounded border border-gray-400 leading-normal resize-none w-full h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"
        id="comment-textarea"
        name="body"
        placeholder="Type Your Comment"
        required
      ></textarea>
    </div>

    <div class="w-full flex justify-end px-3">
      <input
        type="submit"
        {{!-- bg-indigo-500 --}}
        class="px-2.5 py-1.5 rounded-md text-white text-sm bg-indigo-500"
        id="comment-submit"
        value="Post Comment"
      />
    </div>
  </form>

</div>
</div>

<link rel="stylesheet" href="/css/comments.css" />
<script src="/js/story.js"></script>