<h2 class="text-3xl font-bold pt-10 ml-8 text-black">Stories</h2>
<div class="h-1 bg-gray-300 w-55 mt-2 pl-4 ml-8"></div>
<div class="p-4"></div>
{{#each stories as |story|}}
  <div class="row mb-4 project border border-gray-400 shadow-lg rounded ml-2 mr-8">
    <div class="col-md-5">
      <h2 class="text-2xl font-semibold">
        <a href="/stories/{{story.id}}" class="text-blue-500 hover:underline">{{story.name}}</a>
      </h2>
      {{! added image display section }}
      {{#if story.images}}
        <div class="image-container">
          {{#each story.images}}
            <a href="/images/{{this}}" target="_blank">
              <img src="/images/{{this}}" alt="Story Image" class="gallery-image hover:outline-blue-500 hover:transform hover:scale-105 transition ease-in-out duration-300" />
            </a>
          {{/each}}
        </div>
      {{/if}}
      <p>
        By {{story.user.name}} on {{format_date story.date_created}}
      </p>
    </div>
    <div class="col-md-7">
      <p class="text-lg">
        {{story.blog}}
      </p>
    </div>
  </div>
{{/each}}
</div>
