<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="money">$ </span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>

  <div id="comment-section">
    <h3>Comments</h3>
    <div id="comments-container"></div>
    <form id="comment-form">
      <textarea
        id="comment-textarea"
        placeholder="Write your comment here"
      ></textarea>
      <br>
      <button type="submit">Comment</button>
    </form>
  </div>
  <div>
    {{#each Comments}}
      <p>{{this}}</p>
    {{/each}}
  </div>
</div>